@import "tailwindcss";

@layer base {
  :root {
    --brand: #1e3a8a;
    --brand-2: #2563eb;
    --ink: #0f172a;
    --muted: #64748b;
    --card: #ffffff;
  }
}
  
  body {
  @apply font-suse;
}

 html {
  scroll-behavior: smooth;
}



@layer utilities {
  @keyframes floatBg {
    0%   { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }
  .animate-floatBg {
    animation: floatBg 12s ease-in-out infinite alternate;
  }
}

@layer components {
  .btn {
    @apply bg-blue-500 text-white px-4 py-2 rounded;
  }
}
